{% extends "base.html" %}
{% block title %}Remove Group Member{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>Group Member</h1>
    <div class="row">
      <div class="col-md-2 fw-bold">Id:</div>
      <div class="col">{{ clodmember.id }}</div>
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Name:</div>
      <div class="col">{{ clodmember.name }}</div>              
  </div>
 <br/>
  <p>
    Are you sure you want to delete group member {{ clodmember.name }}?
  </p>
  <a href="{{ url_for('delete_member', id=clodmember.id) }}" class="btn btn-sm btn-primary">Yes</a>
  <a href="{{ url_for('index') }}" class="btn btn-sm btn-primary">No</a>

  

{% endblock %}
