{% extends "base.html" %}
{% block title %}CLOD2000 Group C Members{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>CLOD2000 Group C Members</h1>

      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th class="text-end">Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for clodmember in clodmembers %}
                      <tr>
                          <td>{{ clodmember.id }}</td>
                          <td>{{ clodmember.name }}</td>
                          <td class="text-end"><a href="{{ url_for('details', id=clodmember.id) }}" class="btn btn-sm btn-primary">Details</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No members exist.  Select Add new group member to add one.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('create_member') }}" class="btn btn-success px-4 gap-3">Add new group member</a>
      </div>
{% endblock %}